apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app-deployment-v1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
        version: v1
    spec:
      containers:
        - name: spring-app-container
          image: ghcr.io/octodemo/java-springboot-demo:120
          ports:
            - containerPort: 8086
          env:
            - name: DB_URL
              value: jdbc:postgresql://postgres-database-service:5432/postgres
            - name: USER_NAME
              value: postgresadmin
            - name: PASSWORD
              value: admin123
            - name: CHANGELOG_VERSION
              value: changelog_version-3.3.xml
      imagePullSecrets:
        - name: your-registry-secret