<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.enableSearchFeature = /*[[${enableSearchFeature}]]*/ 'default';
        /*]]>*/
    </script>
    <script>
        window.onload = function() {
            if (!window.enableSearchFeature) {
                document.getElementById('searchFeature').style.display = 'none';
            }
        };
    </script>
    <script src="js/styles.js"></script>
</head>
<body>
    <div align="center" th:if="${listSale}">
        <h1>Inventory Records</h1>
        <a href="/new" class="modern-button">Enter New Product</a>
        <form id="uploadForm" style="display: none;">
            <input type="file" id="csvFile" name="file" accept=".csv">
            <button type="submit" id="submitBtn">Submit</button>
        </form>
        <label for="csvFile" class="modern-button">Import from CSV</label>
        <div id="errorMessage" style="color: red;"></div>
        <script src="js/upload_csv.js"></script>
        <script src="js/search.js"></script>
        <br><br>
        <div id="searchFeature">
            <form id="searchForm" action="/search" method="get">
                <label for="search">Search for item:</label>
                <input type="text" id="search" name="q" />
                <button type="submit">Search</button>
            </form>
        </div>
        <div id="searchResults"></div>
        <br />
        <div>
            <a th:if="${currentPage > 0}" th:href="@{/?(page=${currentPage - 1})}">Previous</a>
            <span th:text="${currentPage + 1}"></span> / <span th:text="${totalPages}"></span>
            <a th:if="${currentPage < totalPages - 1}" th:href="@{/?(page=${currentPage + 1})}">Next</a>
        </div>
        <br />
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
        <br />
        <div class="main-table">
            <table style="width: 35%" border="1" cellpadding="10" class="main-table">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sale : ${listSale}">
                        <td th:text="${sale.serialNumber}">serial Number</td>
                        <td th:text="${sale.item}">Item Name</td>
                        <td th:text="${sale.quantity}">Quantity</td>
                        <td th:text="${sale.amount}">Amount</td>
                        <td class="actions">
                            <a class="button" th:href="@{'/edit/' + ${sale.serialNumber}}">Edit</a>
                            <a class="button" th:href="@{'/delete/' + ${sale.serialNumber}}" onclick="return confirm('Delete: This action is irreversible. Are you sure you want to delete the sale record?')" style="color: red;">Delete</a>
                            <a class="button" th:href="@{'/clear/' + ${sale.serialNumber}}" onclick="return confirm('Clear: This action is irreversible. Are you sure you want to clear the sale record?')" style="color: #ff7f7f;">Clear</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>